* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.sketchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
    background-color: white;
    border: 4px solid black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 12px;
    color: white;
}

.sketchScreen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 15px;
    color: white;
}

input[type="range"] {
    width: 100%;
}

.belowHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
}

#sliderValue {
    margin-left: 10px;
}
